$container-max-widths: (
  sm: 450px,
  md: 540px,
  lg: 670px,
  xl: 680px
);

$grid-gutter-width: 12px;

$header-height: 1553px;
$header-top-offset: 200px;
$footer-bottom-offset: 150px;
$bg-color: #F7F6FA;
